.bg-user {
  background-image: url("./img/user-bg.jpg");
  background-position: center;
  mix-blend-mode: multiply;
  opacity: 0.5;
  height: 100%;
  background-repeat: no-repeat;
}

.login-form{
  mix-blend-mode: normal;
  opacity: 1;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-color: #0b1250;
  position: absolute;
  
}

html{
  overflow: hidden;
}